{% extends 'base.html' %}

{% block title %}Добавление статьи{% endblock %}

{% block body %}
<div class="txt item-bl-bg">
    <h1>Добавление статьи</h1>
    <form method="post">
        <input type="text" name = "title" id='title' class="form-control" placeholder="Ввидите название"></br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Ввидите краткое описане"></textarea></br>
        <textarea name="text" id="text" class="form-control" placeholder="Ввидите полный текст"></textarea></br>
        <input type="submit" class="btn btn-success", value="Отправить">
    </form>
</div>
{% endblock %}