{% extends 'base.html' %}

{% block title %}Програмирование{% endblock %}

{% block body %} 

<h2 class="txt item-bl-bg">
    Моё знакомство с языком пайтон началось в 8 класе еще на то время в Технико-Экономическом лицее(на данный момент АЛНКМР).</br>
    Тогда мы на уроках информатики изучали основы и синтаксис языка Python🐍, мне сразу же понравилось.</br>
    К сожаление в учебнике было не сильно понятно изложено поэтому мне пришлось искать гайды на просторах ютуба.</br>
    После более начал углублятся в програмирование и во всё то что с ним связано.</br>
</h2> 
<div class="txt item-bl-bg">
    <h1>При изучении я вывел для себя несколько действенных фитч что бы быстрее учиться:</h1> 
    <ol class="list">
        <li>Регулярное повторение изученого</li>
        <li>Обязательная практика(после теории)</li>
        <li>Смотрие гайды на одну и туже тему на разных каналах </li>
        <li>Английский, большенстов информации находиться на данном языке</li>
        <li>Изучать разные библиотеки и фреймворков(язык с ними имеет намного больше возможностей</li>
    </ol>
</div>

<div class="txt item-bl-bg">
    <h2>Раз уж заговорили о фреймворках и библиотеках, я дам вам парочку которыми сам пользуюсь: </h2>
    <ul class="list">
        <li>Flask</li>
        <li>Aiogram</li>
        <li>PyGame</li>
        <li>Request</li>
        <li>Beautifeul Soup</li>
    </ul>
    <h2>Это лиш несколько примеров.Скачать их все можно на сайте <a href="https://pypi.org/">www.pypi.org</a></h2>

</div>

<div class="txt item-bl-bg">
    <h2 class="txt">Несколько интересных видео:</h2>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fp5-XQFr_nk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/8FK5BWLnEP8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="txt item-bl-bg">
    <h2>
    Так же одна из основных направлеий в языке Пайтон это Боты.👾</br>
    Наприме Боты для: Telegram,Instagram,Viber,Discord и даже боты для игр.</br>
    Вот мой собственный бот для телеграмма: <a href="https://t.me/Olezhan_bot">@Olezhan_bot</a>🤖</br>
    Так же у меня есть бот для дискорд ну он временно на перероботке).
    </h2>
</div>
<div class="item-bl-bg">
    <h2 class = 'txt'> Ниже можете увидеть топ языко програмирования на 2021 год:</h2>
    <img src="static\c82b49c3fa77bc9dfce1eef79b588bfe.jpg" alt="rating">
</div>
{% endblock %}