{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %} 
<div class="main nop cont" id="main"></div>
<div><h2 class="txt">
  Привет, меня зовут Олег🧑🏻.</br>
  И на этом сайте я расскажу вам немного о себе и о моем хобби.</br>
  Моё хобби - програмирование.</br
  >Большую часть програмирую на Python🐍.</br>
  Подробнее о нём вы можете прочитать во вкладке <a href="/coding">Coding⌨️</a></br>
  А так же я очеееень люблю заниматься спортом🏋️‍♀️.</br>
  Я занимаюсь Taekwon-do ITF🥋 уже целых 13 лет!</br>
  
</h2></div>

<script src="static/three.min.js"></script>
<script src="static/vanta.net.min.js"></script>
<script src="static/app.js"></script>

{% endblock %}